In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_excel(r"dataset 1.xlsx")

In [3]:
data.head()

       Algae  Day     pH  volume per litre
0  Spirulina    1  8.128              0.05
1  Spirulina    1  7.925              0.10
2  Spirulina    2  7.855              0.55
3  Spirulina    2  7.790              1.10
4  Spirulina    3  7.780              1.70

In [4]:
data.describe()

             Day         pH  volume per litre
count  60.000000  60.000000         60.000000
mean   15.500000   8.427933         15.276667
std     8.728484   0.286352          9.765706
min     1.000000   7.736000          0.050000
25%     8.000000   8.342000          7.350000
50%    15.500000   8.476500         14.150000
75%    23.000000   8.626500         24.600000
max    30.000000   8.821000         30.400000

In [5]:
data.columns

Index(['Algae', 'Day', 'pH', 'volume per litre'], dtype='object')

In [8]:
data.drop('Algae', axis=1, inplace=True)

In [9]:
data.columns

Index(['Day', 'pH', 'volume per litre'], dtype='object')

### Day and PH will be input
### and Volume per litre will be Output

In [11]:
X_dataset = data.drop('volume per litre', axis=1)

In [12]:
y_dataset = data['volume per litre']

In [14]:
print(f"""
X_dataset : 
{X_dataset.head()}

y_dataset : 
{y_dataset.head()}
""")

X_dataset :
   Day     pH
0    1  8.128
1    1  7.925
2    2  7.855
3    2  7.790
4    3  7.780

y_dataset :
0    0.05
1    0.10
2    0.55
3    1.10
4    1.70
Name: volume per litre, dtype: float64

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X_dataset, y_dataset, random_state=42, test_size=0.2)

In [16]:
print(f""" 
X_train.shape : {X_train.shape}
X_test.shape : {X_test.shape}
y_train.shape : {y_train.shape}
y_test.shape : {y_test.shape}
""")

X_train.shape : (48, 2)
X_test.shape : (12, 2)
y_train.shape : (48,)
y_test.shape : (12,)

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
model = LinearRegression()

In [20]:
model.fit(X_train, y_train)

LinearRegression()

In [51]:
test_data = X_test

In [54]:
predictions = model.predict(test_data)

In [48]:
print(X_test)

    Day     pH
0     1  8.128
5     3  7.788
36   19  7.818
45   23  8.556
13    7  8.446
54   28  8.562
33   17  8.622
48   25  8.373
12    7  8.469
57   29  8.640
46   24  8.569
50   26  8.437

In [59]:
import pickle

In [61]:
pickle.dump(model, open('algae_model.pkl', 'wb'))

In [62]:
model_2 = pickle.load(open('algae_model.pkl', 'rb'))

In [64]:
model_2.predict(X_test)

array([-0.78834366,  1.86078969, 19.90242203, 23.57569453,  5.62574028,
       29.21757231, 16.72155575, 26.04490962,  5.59938283, 30.2579369 ,
       24.69054757, 27.10131788])